* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color:  #0e0e0e 
    /* padding: 20px; */
}

/*NAVEGACION*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color:  #0e0e0e ;
    min-width: 320px;
    max-width: 2420px;

}


li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* ul img {
    display:block;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 40px;
} */

.inicio {
    background-color: #4CAF40;
} 

h1{
    color: white;
}

/*************************************************************/

/* SLIDER*/

/* .slider {
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;

    margin: auto;
    margin-top: 45px;
scrollbar-width: thin ;

} */

.container-carrousel {
    /* position: absolute; */
    margin-top: 40px; 
    background-color: #e0e0e0;
    /* box-shadow: 0 8px 32px rgba(0, 0, 0, 0.66); */
    /* border-radius: 15px; */
    overflow: hidden;
}

@media only screen and (min-width:320px){
    .container-carrousel{
        height: 92vh;
    }

}


@media only screen and (max-width:2420px){
    .container-carrousel{
        height: 93vh;
    }

}




.carruseles {
    width: 400%;
    height: 100%;
    display: flex;
 }



.slider-section {
        width: calc(100% / 4);
        height: 100%;
}

.slider-section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* border-radius: 15px; */
}


 /*Botones*/

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 3.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #9b9898be;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

@media only screen and(max-width: 325px) {
    .btn-left {
        left: 0;
        top: 300px;
    }

    .btn-right {
        right: 0;
        top: 300px;
    }
}


/*LETRAS*/

.titulo {
    display: flex;
    position: absolute;
    top: 50%;
    transform: skew(10deg);
    margin: 0;
    font-size: clamp(2em, 5vw, 5em);
    
}

.titulo p {
    display: flex;
    font-size: calc(1.2vw + 0.7);
    color: rgb(131, 128, 128);
    font-weight: 600;
}
