* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #eee;
    /* padding: 20px; */
}

/*NAVEGACION*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:  #0e0e0e ;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* ul img {
    display:block;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 40px;
} */

.inicio {
    background-color: #4CAF40;
} 

h1{
    color: white;
}

/*************************************************************/

/* SLIDER*/

.container-carrousel {
    /* position: absolute; */
    width: 100%;
    height: 93.9vh;
    margin-top: 40px; 
    background-color: #e0e0e0;
    /* box-shadow: 0 8px 32px rgba(0, 0, 0, 0.66); */
    /* border-radius: 15px; */
    overflow: hidden;
}

.carruseles {
    width: 400%;
    height: 100%;
    display: flex;
}

.slider-section {
    width: calc(100% / 4);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 15px; */
}
 /*Botones*/

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 3.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 0;
    top: 300px;
}

.btn-right {
    right: 0;
    top: 300px;
}

.titulo {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 4.5rem;
    background-color: transparent;
    user-select: none;
    color: rgb(70, 69, 69);
    font-family: Arial, Helvetica, sans-serif;
    left: 200px;
    font-weight: 600;
    transform: skew(10deg);
}

.subtitulo {
    display: flex;
    position: absolute;
    bottom: 15%;
    left:16%;
    font-size: 1.5rem;
    background-color: transparent;
    user-select: none;
    color: rgb(70, 69, 69);
    font-family: Arial, Helvetica, sans-serif;
    
    font-weight: 600;
    transform: skew(10deg);
}
